<div id='action'>
  <h2><%= @action.title %></h2>
  <%= link_to "Edit Action", [:edit, @project, @action] %>
  <%= link_to "Delete Action", [@project, @action], method: :delete,
  data: { confirm: "Are you sure you want to delete this action?"} %>
  <%= simple_format(@action.description) %>
</div>